<app-nav />
<section class="flex w-full h-[50dvh] bg-zinc-700">
  <div class="h-full w-1/2 text-8xl font-bold italic text-center flex justify-center items-center">
    <span>LOCALIZA TU TALLER MECANICO</span>
  </div>
  <div class="h-full w-1/2 flex justify-center items-center">
    <div class="w-1/6">
      <a class="rounded-2xl bg-red-500 p-3 flex justify-center items-center size-15" href=""><i class=" pi pi-bullseye"></i></a>
    </div>
    <div class="ps-7">
      <div class=" w-full">
        <label class="w-full" for="taller">Busca por ciudad o estado</label>
      </div>
      <div class=" w-full">
        <input class="w-full  bg-white" type="text" id="taller">
      </div>
    </div>

  </div>
</section>
