<section class="mx-5 mt-5 sm:mx-10 md:mx-20 lg:mx-50">
  <div class="mb-5">
    <h3 class="text-xl font-bold

      ">Cargos</h3>
  </div>
  <p-button (click)="showDialog(false)" type="button" pRipple label="Crear Cargo" class="mb-5" />
  <p-table currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" stripedRows showGridlines [value]="positions" [tableStyle]="{ 'min-width': 'auto' }" [loading]="loading"
    [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 20]">
    <ng-template #header>
      <tr>
        <th>
          N.
        </th>
        <th pSortableColumn="name">
          Nombre <p-sortIcon field="name" />
        </th>
        <th>
          Acciones
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-position let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ position.name }}</td>
        <td>
          <p-button (click)="showDialog(true, position.positions_id)" type="button" pRipple icon="pi pi-pencil"
            class="mr-2" severity="secondary" tooltip="Editar Cargo" />
          <p-button (click)="delete(position.positions_id)" type="button" pRipple icon="pi pi-trash" severity="danger"
            tooltip="Eliminar Cargo" />
        </td>
    </ng-template>
  </p-table>
</section>

<div class="card flex justify-center">
  <p-dialog header="{{ title.title }}" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
    <form (ngSubmit)="isEdit ? updatePosition() : createPosition()" [formGroup]="positionForm">
      <span class="p-text-secondary block mb-8">{{ title.subTitle }}</span>
      <div class="flex items-center gap-4 mb-4">
        <label for="name" class="font-semibold w-24">Nombre</label>
        <input pInputText id="name" class="flex-auto" autocomplete="off" formControlName="name" />
      </div>
      <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" (click)="resetForm()" />
        <p-button label="Guardar" [disabled]="positionForm.invalid" type="submit" />
      </div>
    </form>
  </p-dialog>
  <!-- Toast Messages -->
  <p-confirmDialog />
  <p-toast />
</div>
