<section class="mx-5 mt-5 sm:mx-10 md:mx-20 lg:mx-50">
  <div class="mb-5">
    <h3 class="text-xl font-bold
      text-amber-300
      sm:text-blue-300
      md:text-emerald-400
      lg:text-fuchsia-500
      ">Cargos</h3>
  </div>
  <p-table showGridlines [value]="positions" [tableStyle]="{ 'min-width': 'auto' }" [loading]="loading">
    <ng-template #header>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
      </tr>
    </ng-template>
    <ng-template #body let-position let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ position.name }}</td>
    </ng-template>
  </p-table>
</section>
