<section class="mx-5 mt-5 sm:mx-10 md:mx-20 lg:mx-50">
  <div class="mb-5">
    <h3 class="text-xl font-bold
      ">Ventas</h3>
  </div>
  <p-button type="button" pRipple [routerLink]="canModifyData ? ['/panel/ventas/crear'] : null"
    (click)="!canModifyData && showSubscriptionError()" label="Crear Venta" class="mb-5" [disabled]="!canModifyData"
    pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para crear empleados' : 'Crear un nuevo empleado'}}"
    tooltipPosition="top" />
  <p-table showGridlines [value]="sales" [tableStyle]="{ 'min-width': 'auto' }" [loading]="loading">
    <ng-template #header>
      <tr>
        <th>N.</th>
        <th>Fecha</th>
        <th>Total</th>
        <th>Empleado</th>
        <th>Vehiculo</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-sale let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ sale.date }}</td>
        <td>{{ sale.price | currency:'MXN':'symbol':'1.2-2' }}</td>
        <td>{{ sale.employee.name + ' ' + sale.employee.last_name }}</td>
        <td>{{ sale.vehicle.make + ' ' + sale.vehicle.model }}</td>
        <td class="flex justify-center md:justify-between lg:justify-around">
          <p-button (click)="showSaleDetails(sale)" label="" severity="info" icon="pi pi-eye" />
          <p-button type="button" pRipple
            [routerLink]="canModifyData ? ['/panel/ventas/editar', sale.services_sales_id] : null"
            (click)="!canModifyData && showSubscriptionError()" icon="pi pi-pencil" class="mr-2" severity="secondary"
            [disabled]="!canModifyData"
            pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para editar' : 'Editar Empleado'}}"
            tooltipPosition="top" />
          <p-button type="button" pRipple icon="pi pi-trash" severity="danger" [disabled]="!canModifyData"
            pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para eliminar' : 'Eliminar Empleado'}}"
            tooltipPosition="top" (click)="delete(sale.services_sales_id)" />
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Diálogo para mostrar detalles de la venta -->
  <p-dialog header="Detalles de la Venta" [modal]="true" [(visible)]="showDetailsDialog" [style]="{ width: '50rem' }"
    [breakpoints]="{ '960px': '75vw', '640px': '90vw' }">

    <div *ngIf="saleDetails" class="w-full">
      <h1>Fecha: {{ saleDetails.date }}</h1>
      <h1>Total: {{ saleDetails.price | currency:'MXN':'symbol':'1.2-2' }}</h1>
      <h1>Empleado: {{ saleDetails.employee.name }} {{ saleDetails.employee.last_name }}</h1>
      <h1>Vehículo: {{ saleDetails.vehicle.make }} {{ saleDetails.vehicle.model }}</h1>
      <h1>Placas: {{ saleDetails.vehicle.plates }}</h1>
      <h1>Piezas:</h1>
      <ul>
        <li *ngFor="let piece of saleDetails.pieces">
          {{ piece.name }}
        </li>
      </ul>

      <h1>Servicios:</h1>
      <ul>
        <li *ngFor="let service of saleDetails.services">
          {{ service.name }}
        </li>
      </ul>
    </div>

    <ng-template pTemplate="footer">
      <p-button label="Cerrar" icon="pi pi-times" (click)="showDetailsDialog = false" severity="secondary" />
    </ng-template>
  </p-dialog>

  <p-toast />
  <p-confirmDialog />
</section>
