<section class="mx-5 mt-5 sm:mx-10 md:mx-20 lg:mx-50">
  <div class="mb-5">
    <h3 class="text-xl font-bold

      ">Clientes</h3>
  </div>
  <p-button
    type="button"
    pRipple
    [routerLink]="canModifyData ? ['/panel/clientes/crear'] : null"
    (click)="!canModifyData && showSubscriptionError()"
    label="Crear Cliente"
    class="mb-5"
    [disabled]="!canModifyData"
    pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para crear clientes' : 'Crear un nuevo cliente'}}"
    tooltipPosition="top"
  />
  <p-table showGridlines [value]="clients" [tableStyle]="{ 'min-width': 'auto' }" [loading]="loading">
    <ng-template #header>
      <tr>
        <th>N.</th>
        <th>Nombre</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Vehículo</th>
        <th>Acciones</th>
      </tr>
    </ng-template>
    <ng-template #body let-client let-index="rowIndex">
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ client.person.name + ' ' + client.person.last_name }}</td>
        <td>{{ client.person.cellphone_number }}</td>
        <td>{{ client.person.email }}</td>
        <td>{{ client.vehicles[0]?.make + ' ' + client.vehicles[0]?.model }}</td>
        <td>
          <p-button
            type="button"
            pRipple
            [routerLink]="canModifyData ? ['/panel/clientes/editar/', client.clients_id] : null"
            (click)="!canModifyData && showSubscriptionError()"
            icon="pi pi-pencil"
            severity="secondary"
            [disabled]="!canModifyData"
            pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para editar' : 'Editar Cliente'}}"
            tooltipPosition="top"
          />
          <p-button
            type="button"
            pRipple
            icon="pi pi-trash"
            severity="danger"
            [disabled]="!canModifyData"
            pTooltip="{{!canModifyData ? 'Necesitas una suscripción activa para eliminar' : 'Eliminar Cliente'}}"
            tooltipPosition="top"
            (click)="delete(client.person.peoples_id)"
          />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast />
  <p-confirmDialog />
</section>
